<main>
    <div class="about">
        <div class="bio">
            <div class="avatar">
                <img alt="Vagner Lucas" style="width:77px;height:67px;" src="../assets/img/vrl.jpg">
            </div>
            <div id="text-bio" class="bio-sm"></div>
        </div>
        <div class="bio-seo">
            <h1>Vagner Lucas</h1>
            <h2>System Analyst, software developer, tech lover</h2>
            <div class="info">
                <p>
                    <b>I also love SEO. That's the reason you are seeing <em>this info :)</em></b>
                </p>
            </div>
        </div>
    </div>
    <div class="terminal-container" id="term">
        <router-outlet></router-outlet>
    </div>
</main>