<main>
    <div class="about">
        <div class="bio">
            <div class="avatar">
                <img alt="Vagner Lucas" class="avatar-img" src="../assets/img/vrl.jpg">
            </div>
            <div id="text-bio" class="bio-sm">
                <h1 id="vrl-title">Vagner Lucas | IT Professional - Software Developer</h1>
                <h2 id="vrl-info">Back-end software developer, system analyst and tech lover</h2>
                <h3 id="profile-text">You can find information about my professional profile here</h3>
                <h3 id="bio-footer"></h3>
            </div>
        </div>
    </div>
    <div class="terminal-container" id="term">
        <router-outlet></router-outlet>
    </div>
</main>